In [434]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error as mse

In [435]:
# data
url_data = 'data - 900,000.csv'
df = pd.read_csv(url_data, index_col=0)

In [436]:
df

        atom       G1a       G1b       G1c       G2a       G2b     force
0          0  0.755653  0.461717  0.302135  0.085675  0.262856  3.159004
1          1  1.141169  0.360552  0.181251  0.100707  0.293541  2.742651
2          2  1.113460  0.314055  0.262061  0.085126  0.252947  1.645045
3          3  0.845902  0.354725  0.234683  0.093350  0.273293  2.576738
4          4  0.904430  0.438179  0.210778  0.096257  0.284321  3.843469
...      ...       ...       ...       ...       ...       ...       ...
899995    27  0.674355  0.366979  0.219194  0.095000  0.276658  2.481122
899996    28  0.478936  0.486574  0.307965  0.069355  0.216915  1.534307
899997    29  0.485316  0.347288  0.358899  0.091865  0.269057  5.194985
899998    30  1.073870  0.497219  0.156117  0.096193  0.295482  1.741409
899999    31  0.651185  0.435064  0.399482  0.067504  0.207489  1.198459

[900000 rows x 7 columns]

In [437]:
X = df.loc[:,'G1a':'G2b']

In [438]:
y = df.loc[:, 'force']

In [439]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True)

In [440]:
reg = LinearRegression().fit(X_train, y_train)

In [441]:
reg.score(X_test, y_test)

0.4100479673306342

In [442]:
mse(y_test, reg.predict(X_test))

1.2363773608893722